<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultCulture" value="en-US" />
  </appSettings>
  <connectionStrings>

	<!-- Ryan: uncomment to turn on local dev -->
	<add name="HRKAccounting" connectionString="Server=DESKTOP-QQE9C8H\SQLEXPRESS;Database=HRKAccounting;Uid=sa;Pwd=12345"/>
	
	<!--<add name="HRKAccounting" connectionString="Server=.\SQLEXPRESS;Database=HRKAccounting;Uid=sa;Pwd=Dev01234567!"/>-->  
    <!--<add name="HRKAccounting" connectionString="Server=HONG-HRK;Database=HRKAccounting;Uid=sa;Pwd=HRKAccounting!" />-->
	  
	<!-- Ryan: uncomment to turn on Production (HONGPC) -->
    <!--<add name="HRKAccounting" connectionString="Server=DESKTOP-QBCTR;Database=HRKAccounting;Uid=sa;Pwd=HRKAccounting!" />-->
  </connectionStrings>
  <!--<system.web>
    <globalization culture="en-CA" />
  </system.web>-->
</configuration>